# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
*.iml
*.class

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/
.idea/

html/

*.gch

.idea

.DS_Store

.vscode/
xml/
build/
viz/merged.dot
viz/merged.svg
viz/merged_package.dot
viz/merged_package.svg
viz/dep.dot
viz/dep.svg
dep.dot
dep.svg
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
Makefile
bc_demo
bc_demo_test
cmake_install.cmake
helloworld
languages/java_refactor
language/g4/*.tokens
language/g4/*.go
language/g4/*.interp
coca
deps.json
vendor/
web/
bs.json
nodeInfos.json
apis.json
output.dot
call.dot
call.svg
output
api.dot
api.svg
!docs/sample/api.svg
coca_reporter
coca_reporter_android
*.coverprofile
bug
_fixtures/tbs/demo-tbs-java-project
_fixtures/refactor/move/b/ImportForB.java
!wasm/demo
wasm/demo/coca.wasm
coverage.txt
gen/
